<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form (submit)='onSignUp(signUpForm)' #signUpForm='ngForm' *ngIf='!isLoading'>
    <mat-form-field>
      <input placeholder="Email" ngModel name='email' type="email" matInput #emailInput='ngModel' required email>
      <mat-error *ngIf="emailInput.invalid">Please enter valid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Password" ngModel name='password' #passwordInput='ngModel' required type="password" matInput>
      <mat-error *ngIf="passwordInput.invalid">Please enter valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color='accent' type="submit">Submit</button>
  </form>
</mat-card>
